<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% (0..@carousel_pictures.size-1).each do |i| %>
        <% if i==0 %> <%= content_tag(:li, "", class: "active", "data-target": "#myCarousel", "data-slide-to": i) %>
        <% else %> <%= content_tag(:li, "", "data-target": "#myCarousel", "data-slide-to": i) %> <% end %>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
    <% @carousel_pictures.each_with_index do |cp, i| %>
      <% if i==0 %> <div class="item active">
      <% else %><div class="item"><% end %>
        <%= image_tag cp.picture %>
        <div class="carousel-caption">
          <h3><span> <%= cp.title %> </span></h3>
          <p><span> <%= cp.description %></span></p>
        </div>
      </div>
    <% end %>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
