<!DOCTYPE html>
<html>
<head>
  <title>Website2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="main">
		<%= yield %>
	</div>
	<!--Use this div for a sidebar-->
	<div class="sidebar">
		<%= yield :sidebar %>
	</div>
</body>

</html>
