<%= form_with(model: rink_slot, local: true) do |form| %>
  <% if rink_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rink_slot.errors.count, "error") %> prohibited this rink_slot from being saved:</h2>

      <ul>
      <% rink_slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rink %>
    <%= form.text_field :rink, id: :rink_slot_rink %>
  </div>

  <div class="field">
    <%= form.label :slot %>
    <%= form.datetime_select :slot, id: :rink_slot_slot %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
