<p id="notice"><%= notice %></p>

<p>
  <strong>Rink:</strong>
  <%= @rink_slot.rink %>
</p>

<p>
  <strong>Slot:</strong>
  <%= @rink_slot.slot %>
</p>

<%= link_to 'Edit', edit_rink_slot_path(@rink_slot) %> |
<%= link_to 'Back', rink_slots_path %>
