<%provide(:title, @player.first_name + " " + @player.last_name)%>

<div class="container-fluid table-responsive">
	<div class="row">
		<div class="col-xs-4 profile-pic">
			<% if @player.profile_pic? %>
			<%= image_tag @player.profile_pic.url, class:"img-responsive img-circle" %>
			<% else %>
			<img src="/assets/profile_pictures/nafisher/profile_test.jpg" class="img-responsive img-circle" alt="">
			<% end %>
			<% if @hasaccess %>
			<button class="btn btn-xs pic-btn">Change <span class="glyphicon glyphicon-pencil"></span></button>
			<% end %>
		</div>
		<div class="col-xs-8">
			<div class="panel panel-default">
				<div class="panel-heading"> <%= @player.first_name + " " + @player.last_name %>
					<% if @hasaccess %> <%= link_to edit_player_path, class:"btn btn-xs edit-btn" do %>Edit <span class="glyphicon glyphicon-pencil"></span> <% end %> <% end %> </div>
  				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6" id="desc-col">
							<b>Name:  </b> <span><%= @player.first_name %> <% if @player.nickname? %> <%= " \'" + @player.nickname + "\'" %> <% end %> <%=" " + @player.last_name %></span><br>
							<b>Major:</b> <span><%= @player.major %></span> <br>
							<b>Hometown:</b> <span><%= @player.hometown %></span><br>
							<b>Position:</b> <span><%= @player.position %></span><br>
							<b>Height:</b> <span><% if @player.height_feet? && @player.height_inches? %> <%= "#{@player.height_feet}\' #{@player.height_inches}\'\'" %> <% end %></span><br>
							<b>Years played:</b> <span><%= @player.years_played %></span><br>
						</div>

						<div class="col-xs-6">
							<h5>Player Description:</h5>
						<%= @player.description %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2 class="table-title"><span>Teams & Statistics</span></h2>
	<table class="table table-hover active">
		<thead>
    		<tr>
		      <th>Season</th>
		      <th>Team</th>
		      <th>Goals</th>
		      <th>Assists</th>
		      <th>Penalty Minutes</th>
		      <th>Saves</th>
		      <th>Goalie Minutes</th>
		      <th>Goals Against</th>
    		</tr>
  	</thead>
  		<tbody>
				<%= @playerstats.each do |pt| %>
				<% @totalgoals+=pt.goals %>
				<% @totalassists+=pt.assists %>
				<% @totalsaves+=pt.saves %>
				<tr>
					<td><%= pt.season_id %></td>
					<td><%= link_to pt.name, team_path(pt.team_id) %></td>
					<td><%= pt.goals %></td>
					<td><%= pt.assists %></td>
					<td>TODO</td>
					<td><%= pt.saves %></td>
					<td>TODO</td>
					<td>TODO</td>
				</tr>
				<% end %>

			<tr>
				<td><b>Total</b></td>
				<td>--</td>
				<td><%= @totalgoals %></td>
				<td><%= @totalassists %></td>
				<td>TODO</td>
				<td><%= @totalsaves %></td>
				<td>TODO</td>
				<td>TODO</td>
			</tr>
		</tbody>
	</table>
</div>
